************************************************
*                                              *
* DRILL TAPE SUMMARY REPORT                    *
*                                              *
* C:\DOLGUNOV\USBTIN\HW\RELEASE\V1\USBTIN.MAX  *
* Fri May 13 08:51:54 2016                     *
*                                              *
************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       140      24       200      100                                                                                 
T2       320      2        200      100                                                                                 
T3       394      2        200      100                                                                                 
T4       430      4        200      100                                                                                 
T5       470      3        200      100                                                                                 
T6       764      4        200      100                                                                                 
